<!DOCTYPE html>
<html lang="ja"> <!-- ブラウザや検索エンジンなどに日本語のページであることを正しく伝えるため -->
    <meta charset="UTF-8">
    <title>ログイン | ズボラ飯セレクター</title> <!-- 日本語などの文字が文字化けせず、正しく表示されるようにするための設定 -->
<body>
    <h1>ズボラ飯セレクター</h1>

    <h2>ログイン</h2>

    <form method="post">　<!-- ここからログイン情報を入力・送信する範囲 -->
        {% csrf_token %} <!--このWebサイトの正しい画面から送信されたことを確認し、不正な送信を防ぐためのDjangoのセキュリティ機能。外部サイトなどから不正なリクエストを送られるCSRF攻撃を防ぐため-->

        <p> <!-- メールアドレスの項目を1つのまとまりにする、画面を整理しやすくするため -->
            <label for="email">メールアドレス</label><br> <!-- 「何を入力する欄なのか」を表示する -->
            <input type="email" id="email" name="email"> 
        </p>

        <p>
            <label for="password">パスワード</label><br>
            <input type="password" id="password" name="password">
        </p>

        <button type="submit">ログイン</button>
    </form>

    <p>
        アカウント登録は<a href="#">こちら</a>
    </p>

    <p>
        パスワードを忘れた方は<a href="#">こちら</a>
    </p>
</body>
</html>
