<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント登録 | ズボラ飯セレクター</title>
</head>

<body>
    <h1>ズボラ飯セレクター</h1>

    <h2>アカウント登録</h2>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">登録</button>
</form> <!--forms.pyで設定したユーザー名・メールアドレス・パスワードの入力欄を登録画面で使用できるようにするため、views.pyから受け取ったアカウント登録フォームを、項目ごとに段落に分けて画面へ表示する-->

    <p>
        <a href="{% url 'login' %}">ログイン画面へ戻る</a>
    </p>

</body>
</html>